## Pandas
### Series

In [1]:
import numpy as np
import pandas as pd

#### Creating a Series From Python Series

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a': 10, 'b': 20, 'c': 30}

In [3]:
pd.Series(my_list, name = 'my list') #contoh object series, dimana ada kolom & indexnya

0    10
1    20
2    30
Name: my list, dtype: int64

In [4]:
pd.Series(my_list, labels) #format pd.Series(a,b) a:data, b:index

a    10
b    20
c    30
dtype: int64

In [5]:
pd.Series(my_list, [1, 'dua', 'tiga'])

1       10
dua     20
tiga    30
dtype: int64

In [6]:
pd.Series(arr, labels) #memasukkan array

a    10
b    20
c    30
dtype: int32

In [7]:
pd.Series(d) #memasukkan dictionary

a    10
b    20
c    30
dtype: int64

In [8]:
ser1 = pd.Series([1,2,3,4], index = ['USA', 'Germany', 'USSR', 'Japan']) #Series dimasukkan dlm variable
ser2 = pd.Series([1,2,5,4], index = ['USA', 'Germany', 'Italia', 'Japan'])

In [9]:
ser1

USA        1
Germany    2
USSR       3
Japan      4
dtype: int64

In [10]:
ser2

USA        1
Germany    2
Italia     5
Japan      4
dtype: int64

In [11]:
(ser1+ser2) #NaN (Not a Number / NULL)= library index ada yg tidak match

Germany    4.0
Italia     NaN
Japan      8.0
USA        2.0
USSR       NaN
dtype: float64

### Methods

#### a. Values

In [12]:
ser1.values #dlm bentuk array

array([1, 2, 3, 4], dtype=int64)

#### b. Index

In [13]:
ser1.index #dlm bentuk list

Index(['USA', 'Germany', 'USSR', 'Japan'], dtype='object')

In [14]:
ser1.index = [i for i in range(4)] #index bisa di timpa untuk mendapatkan index baru
ser1.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [15]:
ser1

0    1
1    2
2    3
3    4
dtype: int64

#### c. Unique

In [16]:
pd.Series(np.random.randint(1,5,15)).unique() #untuk mendapatkan unique values, hasil akhirnya adalah array(iterable)

array([3, 2, 4, 1], dtype=int64)

#### d. Nunique

In [20]:
pd.Series(np.random.randint(1,5,15)).nunique()#untuk mendapatkan berapa banyak jumlah uniquenya

4

#### e. Value Counts

In [18]:
pd.Series(np.random.randint(1,5,15)).value_counts() 
#untuk mendapatkan berapa kali banyak angka unique yg keluar (frekuensi), hasil keluar dlm series, 
#dgn catatan, indexnya adalah valuenya, valuenya frekuensinya.

3    8
4    3
2    2
1    2
dtype: int64

#### f. Loop in series

In [22]:
for i in ser1: #looping ini artinya looping di values
    print(i)

1
2
3
4

In [23]:
for i in ser1.index: #contoh looping di index
    print(i)

0
1
2
3

#### g. Indexing

In [29]:
ser1[:] #positional index

0    1
1    2
2    3
3    4
dtype: int64

In [33]:
ser2

USA        1
Germany    2
Italia     5
Japan      4
dtype: int64

In [35]:
ser2.loc[['USA', 'Germany']] #.loc untuk mengambil value dari index, atau sebaliknya

USA        1
Germany    2
dtype: int64

#### h. Conditional Indexing (Filtering)

In [36]:
ser1[(ser1<3) & (ser1==4)] #dibandingkan dgn valuenya. Conditional bisa banyak(& = and, | = or, ~ = not)

0    1
1    2
dtype: int64