In [ ]:
# pip install mysql-connector-python==8.0.17

In [3]:
import pandas as pd
import mysql.connector

conn = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    passwd = 'Mysql123'
)

cursor = conn.cursor(dictionary = True)
cursor.execute('SELECT * FROM toko.toko')
result = cursor.fetchall()
df = pd.DataFrame(result)

In [4]:
df

     id      nama  kotaId      alamat  totalIncome tanggalBerdiri
0     1    Toko 1       6    Alamat 1         4264     2018-12-13
1     2    Toko 2       2    Alamat 2         1233     2017-10-16
2     3    Toko 3       3    Alamat 3         2465     2018-10-02
3     4    Toko 4       1    Alamat 4         8308     2016-12-07
4     5    Toko 5       6    Alamat 5         3926     2015-03-22
..  ...       ...     ...         ...          ...            ...
95   96   Toko 96       5   Alamat 96         6176     2018-03-20
96   97   Toko 97       1   Alamat 97         9244     2015-05-22
97   98   Toko 98       1   Alamat 98         5987     2018-11-16
98   99   Toko 99       2   Alamat 99         1497     2017-12-27
99  100  Toko 100       2  Alamat 100         3935     2017-12-15

[100 rows x 6 columns]

In [1]:
import pandas as pd
import sqlalchemy as db

engine = db.create_engine('mysql://root:Mysql123@localhost/hokiben')
connection = engine.connect()
metadata = db.MetaData()
hokiben = db.Table('hokimenu', metadata, autoload=True, autoload_with=engine)
query = db.select([hokiben])
result= connection.execute(query).fetchall()

In [12]:
res = pd.DataFrame(result)

In [14]:
list(res[1])

['Paket A', 'Paket B', 'Paket C']

In [16]:
list(res[2])

[20000, 25000, 30000]

In [ ]:
def mainmenu() :
    inputUser = input("Selamat Datang di Hoki Hoki Bento : \n 1. Lihat Menu \n 2. Lihat Cart \n 3. Checkout \n 4. Keluar \n Pilih Menu : ")
    return inputUser

def Menu(menu_list, cart_list) :
    print("Pilihan Menu : ")
    for i in range(0, len(menu_list)) :
        print(str(i + 1) + ". " + menu_list[i])
    inputUser = input("Pilihan : ")
    qty = int(input("Jumlah : "))
    cart_list[menu_list[int(inputUser)-1]] = qty

def cart(cartList) :
    print("Isi Cart : ")
    for i, key in zip(range(len(cartList.keys())), cartList.keys()) :
        print(str(i + 1) + ". " + key + " x" + str(cartList[key]))

def checkout(cartList, hargaList) :
    while True :
        totalHarga = 0
        nama = input(str('Masukkan Nama Pemesan :'))
        print("Item yang dipilih : ")
        for i, key in zip(range(len(cartList.keys())), cartList.keys()) :
            print(str(i + 1) + ". " + key + "x " + str(cartList[key]))
            total = hargaList[key] * cartList[key]
        uang = input("Total Rp. " + str(total) + "\n\n Masukkan Jumlah Uang Anda : ")
        if(int(uang) < total):
            print("Jumlah Pembayaran Masih Kurang")
            checkout(cartList, hargaList)
        else :
            print("Kembali : Rp. " + str(int(uang) - total))
            break


listMenu = res[1]
listHarga = {"Paket A ": 20000, 
             "Paket B ": 25000, 
             "Paket C" : 30000 }
listCart = { }

while True :
    pilihanUser = mainmenu()
    if(pilihanUser == "1") :
        Menu(listMenu, listCart)
    elif(pilihanUser == "2") :
        cart(listCart)
    elif(pilihanUser == "3") :
        checkout(listCart, listHarga)
        listCart = {}
        mainmenu
    elif(pilihanUser == "4") :
        print('Terimakasih')
        break